:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --bg-gradient: linear-gradient(135deg, #bdbdbd 0%, #ffffff 100%);
  --bg-modal-gradient: linear-gradient(315deg, #bdbdbd 0%, #ffffff 100%);
  --font-modal: black;
  --text-title-color: #2c3e50;
  --card-bg: #f8f9fa;
  --card-title: #2c3e50;
  --input-text-bg: #f8f9fa;
  --input-text-font: black;
  --toggle-bg: #bfbfbf;
  --card-shadow-color: rgba(0, 0, 0, 0.1);
  --card-shadow-color-hover: rgba(0, 0, 0, 0.15);
  --msg-list-empty: #212529;
}

[data-theme="dark"] {
  --bg-color: #121212;
  --text-color: #f1f1f1;
  --text-title-color: rgb(235, 229, 229);
  --card-title: rgb(235, 229, 229);
  --card-bg: #1f1f1f;
  --input-text-bg: #434343;
  --input-text-font: white;
  --primary-color: #0d6efd;
  --btn-bg: #3a3a3a;
  --btn-text: #f1f1f1;
  --bg-gradient: linear-gradient(135deg, #2c2c2c 0%, #1e1e1e 100%);
  --bg-modal-gradient: linear-gradient(315deg, #2c2c2c 0%, #464646 100%);
  --font-modal: rgb(235, 229, 229);
  --toggle-bg: #555;
  --card-shadow-color: rgba(0, 0, 0, 0.5);
  --card-shadow-color-hover: rgba(0, 0, 0, 0.7);
  --msg-list-empty: #d7d7d7;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: var(--bg-gradient);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.modal-content {
  background: var(--bg-modal-gradient);
  color: var(--font-modal) !important;
}

[data-theme="dark"] .modal-header .btn-close {
  filter: invert(1);
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}